# HIP toolkit installation path
#HIP_DIR = /opt/rocm-4.3.1/hip
HIP_DIR = ${HIP_PATH}
ROCM_DIR = ${ROCM_PATH}
HIPCC = ${HIP_PATH}/bin/hipcc

# Set AMDGPU ARCH here to compile for.
AMDGPU_ARCH = gfx906:xnack-
HIPCC_FLAGS  = --offload-arch=${AMDGPU_ARCH}

# HIP toolkit libraries
HIP_LIB_DIR := $(HIP_DIR)/lib
HIP_INCLUDE_DIR := $(HIP_DIR)/include

# HIP SDK installation path
SDK_DIR = ${ROCM_DIR}

